{% trans_default_domain 'FOSUserBundle' %}

<div class="page-header">
	<h3 class="text-center">Mon profil</h3>
</div>
<div class="fos_user_user_show">
    <div class="text-center"><label>{{ 'profile.show.username'|trans }}: {{ user.username }}</label></div>
    <div class="text-center"><label>{{ 'profile.show.email'|trans }}: {{ user.email }}</label></div>
</div>
